<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Напоминание!</h1>
<p>У вас есть непроверенные карточки!</p>
</body>
</html>