<div class="table-responsive">
  <table class="table table-striped">

  <tr>
    <th><%= t("deck.title")%></th>

  </tr>

  <tr>
    <td><%= @deck.title %></td>

  </tr>

  </table>
</div>

<%= link_to t("deck.edit"), edit_deck_path(@deck) %> |
<%= link_to t("button.back"), decks_path %>



