<table>

  <tr>
    <th>Name of Deck</th>

  </tr>

  <tr>
    <td><%= @deck.title %></td>

  </tr>

</table>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>



